@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Libre+Barcode+128+Text&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  padding: 0;margin: 0;
}

#root{
  margin: 0;padding: 0;
}
body{
  margin: 0;padding: 0;
  font-family: "Girassol", serif;
  font-weight: 500;
}
.barcode-text {
  font-family: "Libre Barcode 128 Text", serif;
    font-size: 42px;
    color: white;
  }


  nav{
    background-color:black;
    position: fixed;
    top:0px;
    width: 100vw;
    left:-0px;
    height: 9vh;
    z-index: 100;
  }
nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
  
nav ul li{
    color:white;
    fill:white;
    margin-right: 5vw;
    margin-top:1.8vh;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

nav ul li:hover{
  transform: scale(1.1);
}

#rt:hover{
  transform: scale(1);
}
#rtt:hover{
  transform: scale(1);
}

nav ul li:first-child{
    /* margin-right:62vw; */
    margin-top:0.8vh;
    position: fixed;
    right:80vw;
}
nav ul span{
    margin-top:0vw;
}

.gri{
  background-image: url("src/assets/mab.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 97vh;
}

.bgg{
  background-color: rgb(22, 22, 22);
  padding:0vh 0vw;
  margin-top:0vh;
  color:white;
  font-family: "Girassol", serif;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  cursor:pointer;
}

.bgg:hover{
  transform: scale(1.1);
}

.huu{
  margin-top:9vh;
}

.main{
  height: 100vh;
  width: 100vw;
}
.boxs{
  height: 65vh;
  width: 23vw;
  background-color: black;
  color:white;
  font-family: "Girassol", serif;
  font-size: 50px;
  margin-top:4vh;
}

.onee {
  transition:0.3s all ease-out;
  background-image: url("/src/assets/esse.jpg");
  background-repeat: none;
  background-size: cover;
  background-size:23.5vw 33.5vw;
}

.onee:hover{
  background-position-x: -10px;
  background-position-y: -10px;
  background-size:25vw 36.5vw;
  font-size: 60px;
  transition: 0.3s all ease-in;
}

.twoo {
  background-image: url("/src/assets/sne.jpg");
  background-repeat: none;
  background-size:23vw 33vw;
  transition:0.3s all ease-out;
}
.twoo:hover{
  background-position-x: -15px;
  background-position-y: -10px;
  background-size:26vw 36.5vw;
  font-size: 60px;
  transition: 0.3s all ease-in;
}

.thre {
  transition:0.3s all ease-out;
  background-image: url("/src/assets/swa.jpg");
  background-repeat: none;
  background-size: cover;
  background-size:23vw 33vw;
}
.thre:hover{
  background-position-x: -17px;
  background-position-y: -10px;
  background-size:26vw 36.5vw;
  font-size: 60px;
  transition: 0.3s all ease-in;
}


.selec{
  margin-left:7vw;
  margin-top:9vh;
}

#po{
  margin-top:10vh;
  font-size: 5vw;
}

.nu{
  font-size: 39px;
}
.nuu{
  font-size: 4vw;
}

.sho{
  height: 50vh;
  width: 22vw;
  background-color: white;
  margin-top: 7vh;
  margin-left: 2.4vw;
  flex-direction: column;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.sho:hover{
  background-color: white;
  border-radius: 10px 10px;
  cursor: pointer;
  transform: scale(1.1);
}
.sho2{
  height: 60vh;
  width: 21vw;
  background-color: white;
  margin-top: 7vh;
  margin-left: 3.3vw;
  flex-direction: column;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.sho2:hover{
  background-color:white;
  border-radius: 10px 10px;
  cursor: pointer;
  transform: scale(1.1);
}

.imgg{
  height: 25vh;
  width: 21vw;
  background-repeat: none;
  background-size: contain;
  background-size: 42.3vh 12.8vw;
  margin-left: 1vw;
  margin-top: 4vh;
}

.do{
  background-image: url("//crepdogcrew.com/cdn/shop/files/1_401119fa-69e1-4ded-abdb-2e955a732591.png?v=1744911722&amp;width=1080");
  background-position: center;
  /* background-size: contain; */
  background-size: 95%;
  transition: 0.1s all ease-in;
}
.do:hover{
  background-image: url("//crepdogcrew.com/cdn/shop/files/2_4a517663-b780-43d6-b47d-cfcec965a48b.png?v=1744911722&amp;width=1080" );
  background-position: center;
}

.ad{
  background-image: url("//crepdogcrew.com/cdn/shop/files/1_81971b8f-12b6-4f17-9bec-d534d2f82d04.png?v=1744911933&amp;width=1080");
  background-position: center;
  /* background-size: contain; */
  background-size: 95%;
  transition: 0.1s all ease-in;
}
.ad:hover{
  background-image: url("//crepdogcrew.com/cdn/shop/files/2_1b125f7a-e08c-4460-83a4-8867b7018305.png?v=1744911933&amp;width=1080");
  background-position: center;
}
.nk{
  background-image: url("//crepdogcrew.com/cdn/shop/files/1_a6c57b52-aef1-4300-afc8-8c65d0542e66.png?v=1744910930&amp;width=1080");
  background-position: center;
  /* background-size: contain; */
  background-size: 95%;
  transition: 0.1s all ease-in;
}
.nk:hover{
  background-image: url("//crepdogcrew.com/cdn/shop/files/2_6de68890-d817-468d-a18a-6d81abade749.png?v=1744910930&amp;width=1080");
  background-position: center;
}
.nb{
  background-image: url("//crepdogcrew.com/cdn/shop/files/NewBalance9060BoneSparrow.png?v=1744911372&amp;width=540");
  background-position: center;
  /* background-size: contain; */
  background-size: 95%;
  transition: 0.1s all ease-in;
}
.nb:hover{
  background-image: url("//crepdogcrew.com/cdn/shop/files/NewBalance9060BoneSparrow1.png?v=1744911372&amp;width=540");
  background-position: center;
}
/* 
.img22{
  height: 25vh;
  width: 19vw;
  background-image: url("src/assets/shif.jpg");
  background-repeat: none;
  background-size: contain;
  background-size: 38.5vh 12.5vw;
  margin-left: 1vw;
  margin-top: 4vh;
}
.imgg22:hover{
  height: 25vh;
  width: 19vw;
  background-image: url("src/assets/shib.jpg");
  background-repeat: none;
  background-size: contain;
  background-size: 38.5vh 12.5vw;
  margin-left: 1vw;
  margin-top: 4vh;
} */
.imgg2{
  height: 25vh;
  width: 19vw;
  /* background-image: url("src/assets/shif.jpg"); */
  background-repeat: none;
  background-size: contain;
  background-size: 38.5vh 12.5vw;
  margin-left: 1vw;
  margin-top: 4vh;
}

.imgg2:hover{
  height: 25vh;
  width: 19vw;
  /* background-image: url("src/assets/shib.jpg"); */
  background-repeat: none;
  background-size: contain;
  background-size: 38.5vh 12.5vw;
  margin-left: 1vw;
  margin-top: 4vh;
}

.on{
  background-image: url("//crepdogcrew.com/cdn/shop/files/antidote_f.jpg?v=1743179109&amp;width=1920");
  background-position-x: 17.8vw;
background-size: 80%;
transition: 0.3s all ease-in;
}

.on:hover{
  background-image: url("//crepdogcrew.com/cdn/shop/files/antidote_b.jpg?v=1743179109&amp;width=1920");
  background-position-x: 17.8vw;
background-size: 80%;
}

.hu{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/Amex-front_F.jpg?v=1743248000&width=1200");
  background-position-x: 17.8vw;
background-size: 80%;
transition: 0.3s all ease-in;
}

.hu:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/Amex-back_F.jpg?v=1743248001&width=1200");
  background-position-x: 17.8vw;
background-size: 80%;

}

.db{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/image.jpg?v=1744394413&width=1200");
  background-position-x: 17.8vw ;
background-size:80%;
transition: 0.3s all ease-in;
}

.db:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/6_be474636-0de2-4167-a11e-e4087af1716a.png?v=1744803271&width=1000");
  background-position-x: 17.8vw;
background-size: 80%;
}
.sp{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/XOXOFront.jpg?v=1741609715&width=1200");
  background-position-x: 17.8vw ;
background-size:80%;
transition: 0.3s all ease-in;
}

.sp:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/XOXOBack.jpg?v=1741609716&width=1200");
  background-position-x: 17.8vw;
background-size: 80%;
}




.imgg3{
  height: 30vh;
  width: 19vw;
  background-image: url("src/assets/wat.jpg");
  background-repeat: none;
  background-size: cover;
  background-size: 38.5vh 20vw;
  margin-left: 1vw;
  margin-top: 4vh;
  transition: 0.3s all ease-in;
}

.ingg3:hover{
  transform: scale(1.1);
}
.gg{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/EditsbyAhmar01_918fa7af-6ee5-4d96-8610-670791f128b3.png?v=1724664290&width=1000");
  background-size: 80%;
  background-position-x: 2vw;
  transition: 0.3s all ease-in;
}

.gg:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/EditsbyAhmar02_6a0e1d53-fd20-42a4-934a-55fc138d9fb2.png?v=1722076414&width=1000");
  background-size: 95%;
  background-position-x: 0.7vw;
}
.bt{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/BAPEType1CrystalStoneBAPEXWatch.png?v=1740997409&width=1000");
  background-size: 80%;
  background-position-x: 2vw;
  transition: 0.3s all ease-in;
}

.bt:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/BAPEType1CrystalStoneBAPEXWatch.png?v=1740997409&width=1000");
  background-size: 95%;
  background-position-x: 0.7vw;
}
.gg2{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/CDCEDITSBYAHMAR_20.png?v=1735287731&width=1000");
  background-size: 95%;
  background-position-x: 0vw;
  background-position-y: 0vw;
  transition: 0.3s all ease-in;
}

.gg2:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/CDCEDITSBYAHMAR_20.png?v=1735287731&width=1000");
  background-size: 95%;
  background-position-x: 0.7vw;
}
.bt2{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/BAPEType1BAPEXWatchred.png?v=1740996552&width=1000");
  background-size: 85%;
  background-position-x: 1vw;
  background-position-y: 0vw;
  transition: 0.3s all ease-in;
}

.bt2:hover{
  background-image: url("https://crepdogcrew.com/cdn/shop/files/BAPEType1BAPEXWatchred.png?v=1740996552&width=1000");
  background-size: 85%;
  background-position-x: 1vw;

}



.nam{
  font-size: 1.1vw;
  margin-top:10vh;
}

.pri{
  font-size: 1vw;
  font-weight: 200;
  margin-top:0.5vh;
}

.view{
  font-size: 2vw;
  margin-top: 10vh;
  border: 4px solid black;
  padding: 0.6vh 1.3vw;
  border-radius: 15px 15px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  cursor:pointer;
}

.view:hover{
  transform: scale(1.1);
  background-color: rgb(231, 231, 231);

}

.nuuu{
  font-size: 1.6vw;
}

.foot{
  height: 70vh;
  width: 100vw;
  background-color: black;
  margin-top:8vh;
}

.firs{
  list-style: none;
  color:rgb(185, 185, 185);
  font-family: "Roboto Condensed", serif;
  margin-left:3vw;
  text-align: start;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.firs li:hover{
  transform: scale(1.1);
}
.threee li:hover{
  transform: scale(1.1);
}
.threee{
  list-style: none;
  color:rgb(185, 185, 185);
  font-family: "Roboto Condensed", serif;
  margin-left:10vw;
  text-align: start;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.secon{
  list-style: none;
  color:rgb(185, 185, 185);
  font-family: "Roboto Condensed", serif;
  margin-left:20vw;
  text-align: start;
}

.firs li{
  margin-top: 3vh;
}

.firs h1{
  font-size: 1.6vw;
  color:white;
  margin-bottom:5vh;
}
.threee li{
  margin-top: 3vh;
}

.threee h1{
  font-size: 1.6vw;
  color:white;
  margin-bottom:5vh;
}
.secon li{
  margin-top: 4vh;
}

.secon h1{
  font-size: 20px;
  color:white;
}

.sig{
  color:white;
  margin-left:10vw;
  width: 18vw;
  font-size: 1.7vw;
  font-family: "Roboto Condensed", serif;
  margin-top: 3vh;
  text-align: start;
  flex-direction: column;
}

.sig input{
  border:1px solid grey;
  border-radius: 5px 5px;
  padding-left:10px;
  margin-top: 2vh;
}

.sig span{
  color:white;
  font-size: 2vw;
  margin-top: 39vh;
  margin-left: 25vw;
}


.search-input {
  /* margin-top:1vh; */
  padding: 4px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search-input:hover{
  transform: scale(1);
}

.search-icon {
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid #ff8a65; /* Custom border color */
  box-shadow: 0 0 5px rgba(255, 138, 101, 0.8); /* Optional shadow */
}

